@import '~LessConstants';

.container {
  font-family: @main-font;

  .button {
    width: 160px;
    background-color: @cherry;
    color: @white;
    font-size: 14px;
    border-radius: @border-radius;
    border: 0;
    outline: none;
    padding: 8px 0;
    cursor: pointer;
  }
}
