// Fonts
@import (css) url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,600');
@main-font: 'Noto Sans', sans-serif;
@secondary-font: 'Courier', serif;

// Colors
@white: #fff;
@black: #000;

@off-white: #fdfdfd;
@fog: #f6f6f6;
@grey: #a1a1a1;
@stone: #181818;
@cherry: #d9223a;
@red: #e4002b;

// Misc
@border-radius: 4px;
@small-padding: 10px;
@medium-padding: 20px;
@normal-padding: 40px;
