:root {
  --lighter-grey: #f3f4f4;
  --darker-grey: #ebedee;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--lighter-grey);
  background: -webkit-linear-gradient(to right, var(--darker-grey), var(--lighter-grey));
  background: linear-gradient(to right, var(--darker-grey), var(--lighter-grey));
}
