@import '~LessConstants';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  padding: 40px 40px 0 40px;

  @media (max-height: 600px) {
    height: ~'calc(83vh - 33px)';
  }

  @media (min-height: 601px) and (max-height: 800px) {
    height: ~'calc(85vh - 33px)';
  }

  @media (min-height: 801px) and (max-height: 1100px) {
    height: ~'calc(87vh - 33px)';
  }

  @media (min-height: 1101px) {
    height: ~'calc(90vh - 33px)';
  }
}
