@import '~LessConstants';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: ~'calc(100vh - 80px)';

  .content {
    padding: @normal-padding;
    max-width: 800px;

    .heading {
      font-family: @main-font;
      font-size: 24px;
      font-weight: 500;
      color: @cherry;
    }

    .text {
      font-family: @main-font;
      font-size: 18px;
      color: @stone;
      line-height: 1.6;
      margin-top: 20px;

      .app-name {
        font-family: @secondary-font;
        font-weight: 500;
        color: @cherry;
      }

      .link {
        color: @cherry;
        font-weight: 500;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }

    .logos {
      margin-top: 15px;
      text-align: center;

      .icon-div {
        display: inline-block;

        img {
          vertical-align: middle;
        }

        .arrows-icon {
          margin: 0 20px;
        }
      }
    }
  }
}
