@import '~LessConstants';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: @off-white;
  padding: 10px 20px;
  border-radius: @border-radius;

  .input-field {
    width: ~'calc(100% - 100px)';
  }
}
