@import '~LessConstants';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: @secondary-font;

  .title {
    font-size: 24px;
    color: @cherry;
  }

  .right {
    display: flex;
    flex-direction: row;

    .link {
      font-size: 18px;
      color: @cherry;
      margin-right: 15px;
      cursor: pointer;

      &:hover {
        font-weight: 600;
      }
    }

    .normal {
      font-weight: 300;
    }

    .active {
      font-weight: 600;
      padding-bottom: 5px;
      border-bottom: 2px solid @cherry;
    }

    .logout-button {
      margin-left: 20px;
    }
  }
}
