@import '~LessConstants';

.container {
  font-family: @main-font;

  input {
    display: block;
    width: 100%;
    border: 0;
    border-radius: @border-radius;
    box-sizing: border-box;
    outline: 0;
    color: @stone;
    font-size: 18px;
    padding: 5px;
    margin: 5px auto;

    &:focus {
      outline: 0;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }
}
