@import '~LessConstants';

.container {
  display: flex;
  align-items: center;
  height: 60px;

  .copyright {
    font-family: @main-font;
    font-size: 16px;
    color: @stone;
    padding-left: 20px;
  }
}
