@import '~LessConstants';

@normal-width: 400px;
@small-width: 280px;
@normal-height: 600px;
@medium-height: 480px;
@small-height: 200px;
@smallest-height: 100px;

.container {
  font-family: @main-font;
  width: 100vw;
  height: 100vh;

  .box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;

    @media (max-width: 1600px) {
      position: relative;
      text-align: center;
    }

    .left-box {
      display: inline-block;
      vertical-align: top;
      width: @normal-width;
      height: @normal-height;
      background-color: @cherry;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      @media (max-width: 600px) {
        width: @small-width;
        height: @smallest-height;
      }

      @media (min-width: 601px) and (max-width: 900px) {
        height: @small-height;
      }

      @media (max-width: 900px) {
        display: block;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        margin: auto;
      }

      .content {
        height: @normal-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 600px) {
          height: @smallest-height;
        }

        @media (min-width: 601px) and (max-width: 900px) {
          height: @small-height;
        }

        .title {
          font-family: @secondary-font;
          font-size: 24px;
          color: @white;
          font-weight: 600;
          margin-bottom: 20px;
        }

        @media (max-width: 600px) {
          .title {
            font-size: 20px;
            margin-bottom: 2px;
          }

          img {
            height: 60px;
          }
        }
      }
    }

    .right-box {
      display: inline-block;
      vertical-align: top;
      width: @normal-width;
      height: @normal-height;
      box-sizing: border-box;
      background-color: @white;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      @media (max-width: 600px) {
        width: @small-width;
        height: @medium-height - 20px;
      }

      @media (min-width: 601px) and (max-width: 900px) {
        height: @medium-height;
      }

      @media (max-width: 900px) {
        display: block;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        margin: auto;
      }

      .heading {
        font-size: 18px;
        color: @cherry;
        text-align: center;
        margin: 5px 0 20px 0;
      }

      .content {
        height: @normal-height;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 600px) {
          height: @medium-height - 40px;
        }

        @media (min-width: 601px) and (max-width: 900px) {
          height: @medium-height - 20px;
        }

        .error {
          height: 15px;
          font-size: 14px;
          color: @red;
          margin: 8px 0 12px 0;
        }

        .link {
          color: @cherry;
          font-size: 14px;
          text-align: center;
          margin-top: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
