@import '~LessConstants';

.container {
  .heading {
    font-family: @secondary-font;
    font-size: 22px;
    font-weight: 500;
    color: @cherry;
    margin-bottom: 10px;
  }

  .users-online {
    font-family: @main-font;
    font-size: 16px;
    font-style: italic;
    color: @cherry;
    margin-bottom: 10px;
  }

  .messages-box {
    background-color: @off-white;
    padding: @medium-padding;
    border-radius: @border-radius;
    overflow-y: scroll;

    @media (max-height: 900px) {
      height: ~'calc(100vh - 350px)';
    }

    @media (min-height: 901px) and (max-height: 1100px) {
      height: ~'calc(100vh - 370px)';
    }

    @media (min-height: 1101px) {
      height: ~'calc(100vh - 400px)';
    }

    // custom scrollbar
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: @grey;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: @stone;
      border-radius: 6px;
    }

    .chat-date {
      font-size: 14px;
      color: @white;
      background-color: @grey;
      border-radius: 2px;
      padding: 4px 8px;
    }

    .message {
      position: relative;
      font-family: @main-font;
      margin: 15px 0 15px 20px;

      &:first-child {
        margin-top: 0;
      }

      .user {
        display: inline-block;
        font-size: 12px;
        color: @white;
        background-color: @cherry;
        border-radius: 10px;
        padding: 2px 6px;
        margin: 0 5px 3px 0;
      }

      .datetime {
        display: inline-block;
        font-size: 12px;
        color: @stone;
      }

      .admin-icons {
        display: inline-block;
        margin-left: 8px;

        img {
          cursor: pointer;

          &:first-child {
            margin-right: 8px;
          }
        }
      }

      .body {
        font-size: 18px;
        color: @stone;
      }
    }

    .no-messages {
      text-align: left;
      font-family: @main-font;
      font-size: 14px;
      color: @stone;
      font-style: italic;
    }

    .user-typing {
      font-family: @main-font;
      font-size: 14px;
      color: @cherry;
      font-style: italic;
      margin-left: 15px;

      span {
        text-decoration: underline;
      }
    }
  }
}
