@import '~LessConstants';

.container {
  font-family: @main-font;

  .button {
    display: block;
    width: 140px;
    background-color: @cherry;
    color: @white;
    font-size: 14px;
    border-radius: @border-radius;
    border: 0;
    outline: none;
    padding: 10px 0;
    margin: auto;
    cursor: pointer;
  }
}
